//- 0 - пустое значение
//- 1 - значение "да"
//- 2 - значение "нет"
-
	data = [
		{
			surname: 'Васильев',
			name: 'Семен',
			qualityOne: 2,
			qualityTwo: 2
		},
		{
			surname: 'Антонов',
			name: 'Денис',
			qualityOne: 1,
			qualityTwo: 2
		},
		{
			surname: 'Иванов',
			name: 'Кузьма',
			qualityOne: 2,
			qualityTwo: 1
		},
		{
			surname: 'Кузьмина',
			name: 'Виктория',
			qualityOne: 1,
			qualityTwo: 1
		},
		{
			surname: '',
			name: 'Дмитрий',
			qualityOne: 2,
			qualityTwo: 2
		},
		{
			surname: 'Савинков',
			name: '',
			qualityOne: 1,
			qualityTwo: 0
		},
		{
			surname: '',
			name: 'Василий',
			qualityOne: 0,
			qualityTwo: 2
		}
	]

.page--home
	h1.align--center.ff-TTRunsTrial--normal-400 #[span Тестовое задание по работе с JavaScript]

	form#table-form(action="" method="get")
		.grid
			.grid-cell--head Фамилия
			.grid-cell--head Имя
			.grid-cell--head Оценка 1
			.grid-cell--head Оценка 2

			each val, key in data
				.grid-cell
					input.surname(type="text" name="surname" value=val.surname)
				.grid-cell
					input.name(type="text" name="name" value=val.name)
				.grid-cell
					select.quality-1(name="qualityOne")
						if val.qualityOne === 0
							option(value="0" selected='selected')
						else
							option(value="0")
						if val.qualityOne === 1
							option(value="1" selected='selected') да
						else
							option(value="1") да
						if val.qualityOne === 2
							option(value="2" selected='selected') нет
						else
							option(value="2") нет
				.grid-cell
					select.quality-2(name="qualityTwo")
						if val.qualityTwo === 0
							option(value="0" selected='selected')
						else
							option(value="0")
						if val.qualityTwo === 1
							option(value="1" selected='selected') да
						else
							option(value="1") да
						if val.qualityTwo === 2
							option(value="2" selected='selected') нет
						else
							option(value="2") нет

	.table-controller
		input#counter(type="number" min="1" max="50" value="1")
		button#adder(type="button") Добавить строки
